*.user
.vs/
bin/
css
node_modules/
npm-debug.log
obj/
packages/
PokemonGoSlackService/bin/
PokemonGoSlackService/obj/
PokemonGoSlackService/App.config
PokemonGoSlackService/Properties/Settings.Designer.cs
PokemonGoSlackService/Properties/Settings.settings